name: Build and Package

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    name: "Build AppImage (${{ matrix.arch }})"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-latest
            arch: x86_64
          - runs-on: ubuntu-24.04-arm
            arch: aarch64
    container: ghcr.io/pkgforge-dev/archlinux:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Preparing Container
        uses: pkgforge-dev/anylinux-setup-action@v1

      - name: Build AnyLinux AppImage
        run: sh scripts/make-anyimage.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: AppImage-${{ matrix.arch }}
          path: build-anyimage/dist

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: AppImage-*
          merge-multiple: true

      - name: Release AppImage
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.AppImage
            *.AppImage.zsync
